:root {
    --midnight: #232323;
    --sidebar-width: 210px;
    --bs-primary-rgb: 37, 89, 168;
    --bs-link-color-rgb: 37, 89, 168;
    --vicimus-blue: #2559A8;
    --darker-vicimus-blue: #204F97;
}

body {
    background: linear-gradient(135deg, #232526, #414345);
    box-sizing: border-box;
    display: flex;
    color: var(--midnight);
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

body > .container {
    max-width: 1440px;
    padding: 1rem;
}

.fs-sm {
    font-size: 10px;
}

.fs-md {
    font-size: 12px;
}

.list-group {
    --bs-list-group-active-bg: var(--vicimus-blue);
    --bs-list-group-active-border-color: var(--vicimus-blue);
}

.btn-primary {
    --bs-btn-border-color: var(--vicimus-blue);
    --bs-btn-hover-border-color: var(--vicimus-blue);
    --bs-btn-active-border-color: var(--vicimus-blue);
    --bs-btn-bg: var(--vicimus-blue);
    --bs-btn-hover-bg: var(--darker-vicimus-blue);
    --bs-btn-active-bg: var(--darker-vicimus-blue);
}

.btn-outline-primary {
    --bs-btn-color: var(--vicimus-blue);
    --bs-btn-border-color: var(--vicimus-blue);
    --bs-btn-hover-bg: var(--darker-vicimus-blue);
    --bs-btn-active-bg: var(--darker-vicimus-blue);
    --bs-btn-hover-border-color: var(--darker-vicimus-blue);
}

.btn-primary[aria-expanded="true"],
.btn-outline-primary[aria-expanded="true"] {
    background-color: var(--darker-vicimus-blue);
    color: #FFF;
}
