:root {
    --midnight: #232323;
    --sidebar-width: 210px;
    --bs-primary-rgb: 37, 89, 168;
    --bs-link-color-rgb: 37, 89, 168;
    --vicimus-blue: #2559A8;
    --darker-vicimus-blue: #204F97;
}

body {
    background: linear-gradient(135deg, #232526, #414345);
    box-sizing: border-box;
    display: flex;
    color: var(--midnight);
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

body .container {
    max-width: 1440px;
    padding: 1rem;
}

.set-max-width {
    margin: auto;
    max-width: 1000px;
}

.fs-sm {
    font-size: 10px;
}

.fs-md {
    font-size: 12px;
}

.list-group {
    --bs-list-group-active-bg: var(--vicimus-blue);
    --bs-list-group-active-border-color: var(--vicimus-blue);
}

.btn:not(.btn-sm) {
    min-height: 37px;
    min-width: 43px;
}

.btn.btn-sm {
    min-height: 31px;
    min-width: 31px;
}

.btn-primary {
    --bs-btn-border-color: var(--vicimus-blue);
    --bs-btn-hover-border-color: var(--vicimus-blue);
    --bs-btn-active-border-color: var(--vicimus-blue);
    --bs-btn-bg: var(--vicimus-blue);
    --bs-btn-hover-bg: var(--darker-vicimus-blue);
    --bs-btn-active-bg: var(--darker-vicimus-blue);
}

.btn-outline-primary {
    --bs-btn-color: var(--vicimus-blue);
    --bs-btn-border-color: var(--vicimus-blue);
    --bs-btn-hover-bg: var(--darker-vicimus-blue);
    --bs-btn-active-bg: var(--darker-vicimus-blue);
    --bs-btn-hover-border-color: var(--darker-vicimus-blue);
}

.btn-primary[aria-expanded="true"],
.btn-outline-primary[aria-expanded="true"] {
    background-color: var(--darker-vicimus-blue);
    color: #FFF;
}

nav ul.pagination {
    --bs-pagination-color: var(--vicimus-blue);
    --bs-pagination-active-bg: var(--vicimus-blue);
    --bs-pagination-active-border-color: var(--vicimus-blue);
    --bs-pagination-hover-color: var(--vicimus-blue);
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-padding-y: 0.25rem;
    --bs-pagination-font-size: 0.875rem;
    --bs-pagination-border-radius: 0.375rem;
    margin: 0;
}

.kycn-table.sm-table {
    font-size: 14px;
}

.kycn-table th,
.kycn-table td {
    padding: 0.5rem;
}

.kycn-table th {
    background-color: #FFF;
    white-space: nowrap;
}

.kycn-table th:not(:last-child) {
    border-right: thin solid var(--bs-border-color);
}

.kycn-table tbody tr td:not(:last-child) {
    border-right: thin solid var(--bs-border-color);
}

.round-dealer-logo {
    background-color: #FFF;
    border: 0.25rem solid var(--bs-border-color);
    border-radius: 50%;
    overflow: hidden;
}

.round-dealer-logo img {
    height: calc(50px - 0.5rem);
    object-fit: contain;
    width: calc(50px - 0.5rem);
}

/* CHECEKXOAskdok*/
.dealer-form-logo {
    max-height: 100px;
    max-width: 500px;
}

.rsvp-form-logo {
    height: 42px;
    width: 285px;
}

.rsvp-form-logo img {
    height: 100%;
    object-fit: contain;
    object-position: left center;
    width: 100%;
}

.form-check-input:checked {
    background-color: var(--vicimus-blue);
    border-color: var(--vicimus-blue);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

@media (width >= 1200px) {
    .kycn-table:not(.sm-table) th,
    .kycn-table:not(.sm-table) td {
        padding: 1rem;
    }

    .kycn-table.sm-table th,
    .kycn-table.sm-table td {
        padding: 0.5rem 1rem;
    }
}
